@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-color1: #BF3F61;
    --main-color2: #C13452;
    --main-color3: #d60c42;
    --main-color4: #D96C94;
    --main-color5: #e9adad;
    --main-color6: #f7f7f7;
    --main-color7: #000000;
    --main-color8: #333333;
    --main-color9: #ffffff;
    --main-color0: #ffffff;
    --main-color10: brown;
    --montserrat: 'Montserrat', serif;
    --roboto: "Roboto Condensed", sans-serif;
    --playfair: "Playfair Display", serif;
    --shrik: "Shrikhand", serif;
    }
/*


*/
body{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
h1, h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.nav-logo{
    display: inherit;
    align-items: center;
    font-size: 10px;
    color: #BF3F61;
}
.nav-logo>h1{
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}
.nav img{
    width: 15%;
    padding: 10px;
}
.links-nav{
    padding: 10px;
}
.links-nav ul, .links-nav a{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #000000;
}
.links-nav li{
    margin: 0px 10px;
    font-size: large;
    transition: background-color .5s, padding .5s;
}
.links-nav a:hover, .links-nav li:hover{
    background-color: #BF3F61;
    padding: 5px;
    transition: background-color .5s, padding .5s;
    border-radius: 5px;
    color: #f7f7f7;
}
.seccion1{
    background-color: #BF3F61;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(70vh - 100px);
    margin: 0 auto;
    color: #f7f7f7;
}
.mensajes{
    margin: 10px;
    padding: 20px;
    

}
.mensajes p{
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mensajes button{
    outline: none;
    border: 1px ;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
    font-family: 'Montserrat', serif;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: background-color .5s, color .5s, transform .5s;
}
.mensajes button:hover{
    background-color: #d60c42;
    color: #f7f7f7;
    transform: scale(1.1);
    transition: background-color .5s, color .5s, transform .5s;
    border-radius: 5px;
}
.mensajes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-image: url(./img/imagen1.png);
    animation: ban 10s infinite linear;
    width: auto;
    height: 300px;
    background-repeat: no-repeat;
    animation-timing-function: ease-in-out;
    background-size: 100% 100%;
    border-radius: 50%;
}
@keyframes sl {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0,100%,0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    
}
.mensajes2 h1{
    color: #BF3F61;
    background-color: #f7f7f7;
}
@keyframes ban {
    0%{
        background-image: url(../img/imagen1.png);
        
    }
    25%{
        background-image: url(../img/imagen1.png);
    }
    26%{
        background-image: url(../img/imagen2.png);
    }
    50%{
        background-image: url(../img/imagen2.png);
    }
    51%{
        background-image: url(../img/imagen3.png);
    }
    75%{
        background-image: url(../img/imagen3.png);
    }
    76%{
        background-image: url(../img/logo.png);
    }
    100%{
        background-image: url(../img/logo.png);
    }
}
.seccion2 {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
.titulo{
    width: 40%;
    text-align: center;
    display: inherit;
    flex-direction: inherit;
    
}

.cards-info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}
.card i {
    font-size: 4rem;
    margin: 10px auto;
}
.card {
    background-color: #D96C94;
    padding: 45px 50px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
    margin: 0px 15px;
}

.seccion3 {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9adad;
    margin: 15px auto;
}
.seccion3-card {
    display: inherit;
    justify-content: space-around;
    align-items: inherit;
}
.seccion3-info {
    width: 40%;
    background-color: #df5f77;
    padding: 3%;
}
.seccion3-info p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
button.btn-seccion3 {
    padding: 9px;
    outline: none;
    border: none;
    margin: 10px 0;
    font-size: 1rem;
    font-family: 'Montserrat', serif;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    color: #C13452;
    transition: background-color .5s, color .5s, transform .5s;
}
button.btn-seccion3:hover{
    background-color: var(--main-color2);
    color: #f7f7f7;
}




.footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}
.footer-sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.footer-sec1 h2, .footer-sec2 h2, .footer-sec3 h2{
    text-transform: uppercase;
}
.footer img {
    width: 170px;
    margin: 20px 0;
}
.footer-sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.footer-sec2 ul, .footer-sec2 a {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #000000;
}
.footer-sec2 li{
    margin: 10px 10px;
    font-size: large;
    transition: background-color .5s, padding .5s;
}
.footer-sec2 a:hover, .footer-sec2 li:hover{
    background-color: #BF3F61;
    padding: 5px;
    transition: background-color .5s, padding .5s;
    border-radius: 5px;
    color: #f7f7f7;
}
.footer-sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.formulario-footer {
    margin: 42px;
    width: 90%;
}
.formulario-footer input {
    width: 60%;
    height: 48px;
    padding: 5px;
    font-size: 15px;
}
.formulario-footer button {
    width: 30%;
    height: 48px;
    background-color: var(--main-color3);
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--main-color0);
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.tarjetaConstruccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 50%;
    height: 450px;
    background-color: antiquewhite;
    padding: 5%;
}
.btnConstruccion {
    height: 30px;
    margin: 20px 0;
    padding: 5px;
    outline: none;
    border: 1px solid;
    border-color: #000000;
    background-color: var(--main-color3);
    color: var(--main-color0);
    cursor: pointer;
    transition: background-color 1s, color 1s;
}
.btnConstruccion:hover{
    background-color: var(--main-color0);
    color: var(--main-color3);
    transition: background-color 1s, color 1s;
}
i.fa-solid.fa-wrench {
    font-size: 60px;
}
/* clases de productos*/
.catalogo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
    margin: 15px auto;
}
.productos {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin: 20px 10px;
    width: 80%;
}
.filtro {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 30px;
    position: sticky;
    top: 20%;
    background-color: #f0f0f0;
    padding: 10px;
    z-index: 100;
}
.tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 25px 60px;
    background-color: #fdfdfd;
    margin: 10px;
}
.tarjeta img {
    width: 45%;
    margin: 0 10px;
}
.productos-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.btn-carrito {
    padding: 6px;
    font-size: 15px;
    background-color: var(--main-color8);
    color: var(--main-color0);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .6s ease;
}
.btn-carrito:hover{
    transform: scale(1.1);
    background-color: var(--main-color0);
    color: var(--main-color8);
    border: 1px solid;
    border-color: var(--main-color8);
    transition: all .6s ease;
}
.btn-ahora {
    padding: 6px;
    font-size: 15px;
    background-color: var(--main-color3);
    color: var(--main-color0);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .6s ease;
}
.btn-ahora:hover{
    transform: scale(1.1);
    background-color: var(--main-color0);
    color: var(--main-color3);
    border: 1px solid;
    border-color: var(--main-color3);
    transition: all .6s ease;
}
.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-image: url(../img/fondoContacto.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.info-form {
    background-color: bisque;
    padding: 30px;
    color: var(--main-color10);
}
.form-elementos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 30px;
}
.form-elementos input {
    width: 100%;
    height: 48px;
    margin: 10px 0;
    font-size: 1rem;
    font-family: var(--montserrat);
}
.form-elementos textarea{
    resize: none;
    font-size: 1rem;
    font-family:var(--montserrat);
}
.form-elementos button {
    outline: none;
    border: 1px solid;
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--montserrat);
    background-color: var(--main-color3);
    color: var(--main-color0);
    border-radius: 5px;
    transition: all .6s ease;
}
.form-elementos button:hover{
    background-color: var(--main-color0);
    color: var(--main-color3);
    transition: all .6s ease;
}
.form-elementos label {
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
}
@media (max-width: 872px) {
    .nav{
        height: 100px;
    }
    .nav-logo{
        font-size: 5px;
    }
    .nav img {
        width: 41%;
        padding: 8px
    }
    .links-nav li {
        font-size: 15px;
    }
    .seccion1{
        flex-direction: column;
        height: calc(80vh);
    }
    .mensajes2{
        height: 210px;
    }
    .mensajes2 h1 {
        font-size: 1.4rem;
    }
    .cards-info {
        grid-template-columns: 100%;
    }
    .card{
        margin: 20px 15px;
    }
    .seccion3-card {
        flex-direction: row;
        overflow: hidden;
    }
    .imagenMujer {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seccion3-info {
        width: 65%;
        margin: 10px 0px;
    }
    .footer{
        grid-template-columns: 100%;
        text-align: center;
    }
    .tarjetaConstruccion {
        width: 90%;
        height: 578px;
        text-align: center;
    }
}